<a href="https://colab.research.google.com/github/HeHeHuang/MachineLearning/blob/main/BinaryClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/FLOWER_MEMBER.csv')
df.head()

,ID,gender,\nRosePackage,VioletPackage,TulipPackage,\nLilyPackage,CarnationPackage,OrchidPackage,birthdaypackage,Valentine'sDayPackage,MembershipCardType,Membershipmonths,Membershippaymentmethod,averagemonthlyconsumption,totalconsumption,Membershipfeesstopped
0,1,F,Y,Y,N,Y,N,Y,Y,N,Yearly,9,Manual_transfer,65.6,593.3,N
1,2,M,N,N,N,N,N,N,N,Y,Monthly,9,Manual_transfer,59.9,542.4,N
2,3,M,N,N,N,N,Y,N,N,N,Monthly,4,cash,73.9,280.85,Y
3,4,M,Y,N,N,Y,Y,N,Y,Y,Monthly,13,cash,98.0,1237.85,Y
4,5,F,N,Y,N,N,N,Y,Y,Y,Monthly,9,Huabei_payment,69.4,571.45,N

In [17]:
X=df.iloc[:,:-1]
y=df.iloc[:, -1:]
X 
y

     Membershipfeesstopped
0                        N
1                        N
2                        Y
3                        Y
4                        N
...                    ...
7038                     N
7039                     N
7040                     Y
7041                     N
7042                     N

[7043 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split
X_train, y_train,X_test,y_test = train_test_split(X,y,test_size = 0.2)

### logistic regresstion

In [21]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train,y_train)

ValueError: ignored

In [18]:

print("{:.2f}%".format(logreg.score(X_test,y_test)*100)

### NB classifier

### SVM classifier

###KNN

### Decision Tree

### Random Decision Tree

### AdaBoost & XGBoost

### DNN